<nav class="navbar fixed-top navbar-expand-lg navbar-light nav-colour">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      (click)="noListNav.toggle()"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Links -->
    <div
      class="collapse navbar-collapse "
      id="navbarNavAltMarkup"
      mdbCollapse
      #noListNav="mdbCollapse"
    >
      <div class="navbar-nav ms-auto mb-2 mb-lg-0">
        <a
          class="nav-link"
          (click)="goTo(MenuItemsEnum.HOME)"
        >Home</a>
        <a
          class="nav-link"
          (click)="goTo(MenuItemsEnum.ABOUT)"
        >About</a>
        <a
          class="nav-link"
          (click)="goTo(MenuItemsEnum.COOKIES)"
        >Gourmet Cookies</a>
        <a
          class="nav-link"
          (click)="goTo(MenuItemsEnum.MENU)"
        >Menu</a>
        <a
          class="nav-link"
          (click)="goTo(MenuItemsEnum.CONTACT)"
        >Contact</a>

        <a
          style="cursor: pointer;"
          class="nav-link"
          routerLink="/order-form"
        >Order Form</a>

        <!-- TODO: When we have enough -->
        <!-- <a
          class="nav-link"
          href="#testimonials"
        >Testimonials</a> -->
      </div>
    </div>
  </div>
</nav>

<!-- TODO: Choose new font & colour scheme -->
<router-outlet>
</router-outlet>
