.img-mask {
  background-color: rgba(251, 251, 251, 0.15);
}

.font-colour {
  color: #4f4f4f;
}

.nav-colour {
  background-color: #3cc6be;
}

.card-body {
  &.one {
    background-color: #90c4c0;
  }
  &.two {
    background-color: #a6a6a6;
  }
  &.three {
    background-color: #c38fc8;
  }
}

main {
  margin-top: 5rem !important;
}

.note {
  border: 2px solid black;
  border-radius: 5px;
  background-color: black;
  color: white;
  margin-top: 2rem;
  padding: 10px;
  text-align: center;
}

hr {
  height: 2px;
}

a {
  color: currentColor;
  cursor: pointer;
}
