<nav class="navbar fixed-top navbar-expand-lg navbar-light nav-colour">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      (click)="noListNav.toggle()"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Links -->
    <div
      class="collapse navbar-collapse "
      id="navbarNavAltMarkup"
      mdbCollapse
      #noListNav="mdbCollapse"
    >
      <div class="navbar-nav ms-auto mb-2 mb-lg-0">
        <a
          class="nav-link"
          href="#home"
        >Home</a>
        <a
          class="nav-link"
          href="#about"
        >About</a>
        <a
          class="nav-link"
          href="#cookies"
        >Gourmet Cookies</a>
        <a
          class="nav-link"
          href="#menu"
        >Menu</a>
        <a
          class="nav-link"
          href="#contact"
        >Contact</a>

        <!-- <a
          style="cursor: pointer;"
          class="nav-link"
          (click)="openAppLink()"
        >Order Form</a> -->

        <!-- TODO: When we have enough -->
        <!-- <a
          class="nav-link"
          href="#testimonials"
        >Testimonials</a> -->
      </div>
    </div>
  </div>
</nav>

<!-- TODO: Choose new font & colour scheme -->
<router-outlet>
  <main>
    <div class="container">

      <!-- Section: Start Main -->
      <section id="home">
        <div class="row">
          <!-- Start Description -->
          <div class="col-md-8 gx-5 mb-4">
            <img
              src="assets/images/logo.png"
              class="img-fluid"
              alt="logo"
            />
            <h2 class="my-4">The most delicious home-made gourmet cookies that will
              make your taste buds go
              crazy.</h2>
            <p><strong>13 unique flavours!</strong></p>
            <p class="text-muted">
              The Everyday Bite is literally for everyone for every type of day. We will cheer you up if you are
              feeling a bit down. This is a great cheat day snack after your hectic eating plan. We will satisfy all
              of your cravings instantly.
            </p>
          </div>

          <!-- Start Image Right -->
          <div class="col-md-4 gx-5 mb-4">
            <div class="card">
              <div
                class="bg-image hover-overlay ripple"
                data-mdb-ripple-color="light"
              >
                <img
                  src="assets/images/main-img.jpg"
                  class="card-img-top"
                  alt="main image"
                />
                <div class="mask img-mask"></div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Section: End Main -->

      <hr
        id="about"
        class="my-5"
      />

      <!-- Section: Start About -->
      <section>
        <div class="row">
          <!-- About Image -->
          <div class="col-md-4 gx-5 mb-4">
            <div class="card">
              <div
                class="bg-image hover-overlay ripple"
                data-mdb-ripple-color="light"
              >
                <img
                  src="assets/images/demi.jpg"
                  class="card-img-top"
                  alt="baker profile picture"
                />
                <div class="mask img-mask"></div>
              </div>
            </div>
          </div>

          <!-- About Description -->
          <div class="col-md-8 gx-5 mb-4">
            <h4><strong>A little about me and why I love baking:</strong></h4>
            <p class="text-muted">
              My name is Demi Kirtsen Mooi, I am a full-time wife, mother and teacher. I love baking because it's a core
              passion of mine. I enjoy people's reactions when they bite into my
              treats. It always puts a massive smile on my face. My dream is to have my own bakery one day so I can put
              smiles on all of my customer's faces. My specialties include the gourmet cookies, however I do also make
              lamingtons, red cakes, snowballs and cake pops on request.
            </p>

            <div class="my-5 text-center">
              <img
                src="assets/images/side-view.jpg"
                alt="other baking goods"
                class="rounded-circle"
                width="400px"
              />
            </div>
          </div>
        </div>
      </section>
      <!-- Section: End About -->

      <hr
        id="cookies"
        class="my-5"
      />

      <!-- Section: Start Cookies -->
      <section class="text-center">
        <h4 class="mb-5"><strong>Gourmet Cookies</strong></h4>
        <div class="row">
          <div
            class="col-lg-4 col-md-6 mb-4"
            *ngFor="let item of cookies"
          >
            <div class="card">
              <div
                class="bg-image hover-overlay ripple"
                data-mdb-ripple-color="light"
              >
                <img
                  [src]="'assets/images/' + item.image + '.jpg'"
                  class="img-fluid"
                  alt="cookie image"
                />
                <div class="mask img-mask"></div>
              </div>
              <div
                class="card-body"
                [class]="item.class"
              >
                <h5 class="card-title">{{ item.flavour }}</h5>
                <p class="card-text">
                  {{ item.description }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Section: End Cookies -->

      <hr
        id="menu"
        class="my-5"
      />

      <!-- Section: Start Menu -->
      <section>
        <div class="row text-center align-items-center">
          <h4 class="mb-5"><strong>Menu</strong></h4>
          <div class="table-responsive">
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th scope="col">Flavours</th>
                  <th scope="col">Half-dozen</th>
                  <th scope="col">Dozen</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let cookie of menu">
                  <td>{{ cookie.flavour }}</td>
                  <td *ngFor="let price of cookie.price">{{ price != 0 ? (price | currency:'R') : '' }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </section>
      <!-- Section: End Menu -->

      <!-- Section: Start Delivery -->
      <section class="text-center">
        <p class="note">
          <strong>Please note:</strong> Due to the cookies being freshly made, orders need to be placed at least 48
          hours in advance. Thank you!
        </p>
        <h4 class="mb-5 mt-5">Delivery Pricing:</h4>

        <div class="row">
          <div
            class="col-lg-4 col-md-6 mb-4"
            *ngFor="let item of deliveryPrices"
          >
            <div class="card bg-light">
              <div class="card-body">
                <h5 class="card-title">{{ item.where }}</h5>
                <p class="card-text">
                  {{ item.amount | currency:'R' }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Section: End Delivery -->

      <hr
        id="contact"
        class="my-5"
      />

      <!-- Section: Start Contact -->
      <section>
        <div class="row text-center align-items-center">
          <div class="col-lg-4 col-md-6 py-4">
            <h4>Address:</h4>
            <address><a
                class="font-colour"
                href="https://goo.gl/maps/7o8MqSWRCHU8PfTW6"
                target="_blank"
              >169 Montrose Avenue, Northgate, Randburg, 2162</a></address>
          </div>
          <div class="col-lg-4 col-md-6 py-4">
            <h4>Contact:</h4>
            <address><a
                class="font-colour"
                href="0670375788"
              >067 037 5788</a> | <a
                class="font-colour"
                href="0743709980"
              ></a>074 370 9980</address>
            <address><a
                class="font-colour"
                href="mailto:the.everyday.bite.sa@gmail.com"
              >the.everyday.bite.sa@gmail.com</a></address>
          </div>
          <div class="col-lg-4 col-md-6 py-4">
            <h4>Social:</h4>
            <a
              href="https://www.instagram.com/the_everyday_bite/"
              class="m-1"
              rel="nofollow"
              target="_blank"
            >
              <i class="fab fa-instagram fa-2x font-colour"></i>
            </a>
            <address>
              <a
                href="https://www.instagram.com/the_everyday_bite/"
                class="m-1"
                rel="nofollow"
                target="_blank"
              >
                @the_everyday_bite
              </a>
            </address>
          </div>
        </div>
      </section>
      <!-- Section: End Contact -->

      <!-- 
      <hr
        id="testimonials"
        class="my-5"
      /> -->
      <!-- Section: Start Testimonials TODO: When we have enough -->
      <!-- <section class="mb-5">
        <h4 class="mb-5 text-center"><strong>Testimonials</strong></h4>

        <mdb-carousel>
          <mdb-carousel-item>
            <img
              src="https://mdbcdn.b-cdn.net/img/new/slides/041.jpg"
              class="d-block w-100"
              alt="..."
            />
          </mdb-carousel-item>

          <mdb-carousel-item>
            <img
              src="https://mdbcdn.b-cdn.net/img/new/slides/042.jpg"
              class="d-block w-100"
              alt="..."
            />
          </mdb-carousel-item>

          <mdb-carousel-item>
            <img
              src="https://mdbcdn.b-cdn.net/img/new/slides/043.jpg"
              class="d-block w-100"
              alt="..."
            />
          </mdb-carousel-item>
        </mdb-carousel>
      </section> -->
      <!-- Section: End Testimonials -->
    </div>
  </main>

  <hr class="m-0" />

  <footer class="text-lg-start nav-colour">
    <div class="text-center py-4 align-items-center">
      <i>Created by Hybrid Apex Software Technologies (H.A.S.T.)</i>
    </div>
  </footer>
</router-outlet>
