<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <!--Logo-->
    <a
      class="navbar-brand"
      href="#"
    ><img
        src="https://mdbootstrap.com/img/logo/mdb-transaprent-noshadows.png"
        height="30"
        alt=""
        loading="lazy"
      /></a>

    <!--Toggle Button-->
    <button
      class="navbar-toggler"
      type="button"
      (click)="noListNav.toggle()"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!--Links-->
    <div
      class="collapse navbar-collapse "
      id="navbarNavAltMarkup"
      mdbCollapse
      #noListNav="mdbCollapse"
    >
      <div class="navbar-nav ms-auto mb-2 mb-lg-0">
        <a
          class="nav-link"
          href="#"
        >About</a>
        <a
          class="nav-link"
          href="#"
        >Cakes</a>
        <a
          class="nav-link"
          href="#"
        >Order Form</a>
        <a
          class="nav-link"
          href="#"
        >Testimonials</a>
      </div>
    </div>
  </div>
</nav>

<router-outlet>
  <main class="mt-5">
    <div class="container">

      <!--Section: Start Main-->
      <section>
        <div class="row">
          <!--Start Description-->
          <div class="col-md-6 gx-5 mb-4">
            <h1><strong>The Sunday Bite</strong></h1>
            <h3>The most delicious home made mini cakes that will make your taste buds go crazy!</h3>
            <br /><br />
            <p><strong>Doloremque vero ex debitis veritatis?</strong></p>
            <p class="text-muted">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod itaque voluptate
              nesciunt laborum incidunt. Officia, quam consectetur. Earum eligendi aliquam illum
              alias, unde optio accusantium soluta, iusto molestiae adipisci et?
            </p>
          </div>

          <!--Start Image Right-->
          <div class="col-md-6 gx-5 mb-4">
            <div
              class="bg-image hover-overlay ripple shadow-2-strong rounded-5"
              data-mdb-ripple-color="light"
            >
              <img
                src="assets/images/side-view.jpg"
                class="img-fluid"
                alt=""
              />
              <div
                class="mask"
                style="background-color: rgba(251, 251, 251, 0.15);"
              ></div>
            </div>
          </div>
        </div>
      </section>
      <!--Section: End Main-->

      <hr class="my-5" />

      <!--Section: Start About-->
      <section>
        <div class="row">
          <!--About Image-->
          <div class="col-md-6 gx-5 mb-4">
            <div
              class="bg-image hover-overlay ripple shadow-2-strong rounded-5"
              data-mdb-ripple-color="light"
            >
              <img
                src="assets/images/demi.jpg"
                alt=""
                class="img-fluid"
              />
              <div
                class="mask"
                style="background-color: rgba(251, 251, 251, 0.15);"
              ></div>
            </div>
          </div>

          <!--About Description-->
          <div class="col-md-6 gx-5 mb-4">
            <h4><strong>A little about me and why I love baking:</strong></h4>
            <p class="text-muted">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis consequatur
              eligendi quisquam doloremque vero ex debitis veritatis placeat unde animi laborum
              sapiente illo possimus, commodi dignissimos obcaecati illum maiores corporis.
            </p>

            <!-- TODO: Put contact details here?-->
            <div
              class="my-5"
              style="text-align: center;"
            >
              <img
                src="assets/images/background-2.jpg"
                alt=""
                class="img-fluid rounded"
              />
            </div>

            <p><strong>Doloremque vero ex debitis veritatis?</strong></p>
            <p class="text-muted">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod itaque voluptate
              nesciunt laborum incidunt. Officia, quam consectetur. Earum eligendi aliquam illum
              alias, unde optio accusantium soluta, iusto molestiae adipisci et?
            </p>
          </div>
        </div>
      </section>
      <!--Section: End About-->

      <hr class="my-5" />

      <!--Section: Start Cakes-->
      <section class="text-center">
        <h4 class="mb-5"><strong>Cakes</strong></h4>
        <div class="row">
          <!--Redcakes-->
          <div class="col-lg-4 col-md-12 mb-4">
            <div class="card">
              <div
                class="bg-image hover-overlay ripple"
                data-mdb-ripple-color="light"
              >
                <img
                  src="https://mdbootstrap.com/img/new/standard/nature/184.jpg"
                  class="img-fluid"
                  alt=""
                />
                <div
                  class="mask"
                  style="background-color: rgba(251, 251, 251, 0.15);"
                ></div>
              </div>
              <div class="card-body">
                <h5 class="card-title">Red cakes</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up the bulk of the
                  card's content.
                </p>
              </div>
            </div>
          </div>

          <!--Snowballs-->
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
              <div
                class="bg-image hover-overlay ripple"
                data-mdb-ripple-color="light"
              >
                <img
                  src="https://mdbootstrap.com/img/new/standard/nature/023.jpg"
                  class="img-fluid"
                  alt=""
                />
                <div
                  class="mask"
                  style="background-color: rgba(251, 251, 251, 0.15);"
                ></div>
              </div>
              <div class="card-body">
                <h5 class="card-title">Snow balls</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up the bulk of the
                  card's content.
                </p>
              </div>
            </div>
          </div>

          <!--Lamingtons-->
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
              <div
                class="bg-image hover-overlay ripple"
                data-mdb-ripple-color="light"
              >
                <img
                  src="https://mdbootstrap.com/img/new/standard/nature/111.jpg"
                  class="img-fluid"
                  alt=""
                />
                <div
                  class="mask"
                  style="background-color: rgba(251, 251, 251, 0.15);"
                ></div>
              </div>
              <div class="card-body">
                <h5 class="card-title">Lamingtons</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up the bulk of the
                  card's content.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--Section: End Cakes-->

      <hr class="my-5" />

      <!--Section: Start Order Form-->
      <section class="mb-5">
        <h4 class="mb-5 text-center"><strong>Order Form</strong></h4>

        <div class="row d-flex justify-content-center">
          <div class="col-md-6">
            <form>
              <!--2 column grid layout with text inputs for the first and last names-->
              <div class="row mb-4">
                <div class="col">
                  <div class="form-outline">
                    <input
                      type="text"
                      id="form3Example1"
                      class="form-control"
                    />
                    <label
                      class="form-label"
                      for="form3Example1"
                    >First name</label>
                  </div>
                </div>
                <div class="col">
                  <div class="form-outline">
                    <input
                      type="text"
                      id="form3Example2"
                      class="form-control"
                    />
                    <label
                      class="form-label"
                      for="form3Example2"
                    >Last name</label>
                  </div>
                </div>
              </div>

              <!--Email input-->
              <div class="form-outline mb-4">
                <input
                  type="email"
                  id="form3Example3"
                  class="form-control"
                />
                <label
                  class="form-label"
                  for="form3Example3"
                >Email address</label>
              </div>

              <!--Password input-->
              <div class="form-outline mb-4">
                <input
                  type="password"
                  id="form3Example4"
                  class="form-control"
                />
                <label
                  class="form-label"
                  for="form3Example4"
                >Password</label>
              </div>

              <!--Checkbox-->
              <div class="form-check d-flex justify-content-center mb-4">
                <input
                  class="form-check-input me-2"
                  type="checkbox"
                  value=""
                  id="form2Example3"
                  checked
                />
                <label
                  class="form-check-label"
                  for="form2Example3"
                >
                  Subscribe to our newsletter
                </label>
              </div>

              <!--Submit button-->
              <button
                type="submit"
                class="btn btn-primary btn-block mb-4"
              >
                Sign up
              </button>

              <!--Register buttons-->
              <div class="text-center">
                <p>or sign up with:</p>
                <button
                  type="button"
                  class="btn btn-primary btn-floating mx-1"
                >
                  <i class="fab fa-facebook-f"></i>
                </button>

                <button
                  type="button"
                  class="btn btn-primary btn-floating mx-1"
                >
                  <i class="fab fa-google"></i>
                </button>

                <button
                  type="button"
                  class="btn btn-primary btn-floating mx-1"
                >
                  <i class="fab fa-twitter"></i>
                </button>

                <button
                  type="button"
                  class="btn btn-primary btn-floating mx-1"
                >
                  <i class="fab fa-github"></i>
                </button>
              </div>
            </form>
          </div>
        </div>
      </section>
      <!--Section: End Order Form-->

      <hr class="my-5" />

      <!--Section: Start Testimonials-->
      <section class="mb-5">
        <h4 class="mb-5 text-center"><strong>Testimonials</strong></h4>

        <mdb-carousel>
          <mdb-carousel-item>
            <img
              src="https://mdbcdn.b-cdn.net/img/new/slides/041.jpg"
              class="d-block w-100"
              alt="..."
            />
          </mdb-carousel-item>

          <mdb-carousel-item>
            <img
              src="https://mdbcdn.b-cdn.net/img/new/slides/042.jpg"
              class="d-block w-100"
              alt="..."
            />
          </mdb-carousel-item>

          <mdb-carousel-item>
            <img
              src="https://mdbcdn.b-cdn.net/img/new/slides/043.jpg"
              class="d-block w-100"
              alt="..."
            />
          </mdb-carousel-item>
        </mdb-carousel>
      </section>
      <!--Section: End Testimonials-->
    </div>
  </main>

  <hr class="m-0" />

  <!--Footer-->
  <footer class="bg-light text-lg-start">

    <!--TODO: Put Ad here?-->
    <div class="text-center py-4 align-items-center">
      <p>Follow MDB on social media</p>
      <a
        href="https://www.youtube.com/channel/UC5CF7mLQZhvx8O5GODZAhdA"
        class="btn btn-primary m-1"
        role="button"
        rel="nofollow"
        target="_blank"
      >
        <i class="fab fa-youtube"></i>
      </a>
      <a
        href="https://www.facebook.com/mdbootstrap"
        class="btn btn-primary m-1"
        role="button"
        rel="nofollow"
        target="_blank"
      >
        <i class="fab fa-facebook-f"></i>
      </a>
      <a
        href="https://twitter.com/MDBootstrap"
        class="btn btn-primary m-1"
        role="button"
        rel="nofollow"
        target="_blank"
      >
        <i class="fab fa-twitter"></i>
      </a>
      <a
        href="https://github.com/mdbootstrap/mdb-ui-kit"
        class="btn btn-primary m-1"
        role="button"
        rel="nofollow"
        target="_blank"
      >
        <i class="fab fa-github"></i>
      </a>
    </div>

  </footer>
  <!--Footer-->
</router-outlet>