.img-mask {
  background-color: rgba(251, 251, 251, 0.15);
}

.font-colour {
  color: #4f4f4f;
}

.nav-colour {
  background-color: #3cc6be;
}

.card-body {
  &.one {
    background-color: #90c4c0;
  }
  &.two {
    background-color: #a6a6a6;
  }
}
